<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/board.css">
    <script>
        function del(id,pid){
            if(confirm("삭제하시겠습니까?")){
                location.href="/repl_delete/"+id+"/"+pid;
            }
        }

        function update(id,pid){
            var id = id;
            var pid=pid;
            var btn = document.getElementById('updat');
            if(btn.value=='수정'){
                eval("document.all.repl_content_"+id+".readOnly=false");
                eval("document.all.repl_content_"+id+".style.backgroundColor='red'");
                btn.setAttribute('value', '입력');
                event.preventDefault();
            }
            else{
                btn.setAttribute('type', 'submit');
                }
            }
    </script>
</head>
<body>
    <h1>글내용</h1>
    <hr/>
    <table width="100%" border="1">
        <tr> <th>ID</th><td><%= data.id %></td></tr>
        <tr> <th>Title</th><td width="80%"><%= data.title%></td></tr>
        <tr> <th>Content</th><td width="80%" height="300" valign="top"><pre><%= data.content%></pre></td></tr>
        <tr> <th>Date</th><td width="80%"><%=data.wdate%></a></td></tr>
    </table>
    <a href="/insert">등록</a>
    <a href="/edit/<%= data.id%>">수정</a>
    <a href="#" onclick="del()">삭제</a>
    <a href="/">목록</a>
    <p></p>
    <!-- 댓글 목록 -->
    <table border="1" style="width: 80%;">
        <tr>
            <th>ID</th>
            <th>Content</th>
            <th>Date</th>
        </tr>
    <% data2.forEach(function(item,index){ %>
        <tr>
            <td style="width:5%"><%=item.id%></td>
            <form action="/repl_update/<%=item.id%>/<%=data.id%>" method="POST">
            <td style="width:65%"><input class="repl_cont" type="text" style="border: white;" name="repl_content_<%=item.id%>" value="<%=item.content%>" readonly></td>
            <td style="width: 15%"><%=item.wdate%></td>
            <td style="width: 15%">
                    <input type="button" value="수정" id="updat" onclick="update('<%=item.id%>','<%=data.id%>')">
                </form>
                <button onclick="del('<%=item.id%>','<%=data.id%>')">삭제</button>
            </td>
            
        </tr>
    <% }) %>
    </table>
    <!-- 댓글등록 -->
    <br><br>
    
    <form action="/repl_insert/<%=data.id%>" method="POST">
        <table style="width: 50%;">
            <tr>
                <td value="dd">내용</td> <td><input type="text" name="repl_content"  style="width: 80%; height: 50px;"><input type="submit" value="등록"></td>
            </tr>
        </table>
    </form>
    
</body>
</html>